-var titulo = "Título Principal"
-var subtitulo = "Subtítulo secundario"
-var titulos = ["Título Principal", "Subtítulo 1", "Subtítulo 2", "Subtítulo 3"]

doctype html
html
	head
		meta(charset="UTF-8")
		link(rel="stylesheet", href="css/ejercicio-pug.css")
	body
		header
			h1 PlatziGames
			a.boton Registro
		section.intro
			.intro__imagen: img(src="images/imagen.png")
			.intro_contenido
				h2= titulo
				h4 #{subtitulo}
				h5 #{titulos[2]}
				h5 #{titulos[0][3]}
				p
					| Lorem ipsum dolor sit amet, 
					| consectetur adipiscing elit. Proin 
					| ex mi, gravida sit amet imperdiet 
					| vel, sodales a mi. Proin sit amet 
					| tellus nec nisl bibendum ornare nec 
					| at augue.Integer semper feugiat 
					| varius.
					span
				a.boton Leer más
